h1,
h2,
p,
a,
div {
  margin: 0;
  padding: 0;
}
body {
  width: 1920px;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 102px;
}

header {
  width: 612px;
}

h1 {
  font-weight: 400;
  font-size: 70px;
  line-height: 88px;
  color: #121314;
  margin-bottom: 20px;
}

header > p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #47494d;
}

article {
  /* background: url(img.svg) no-repeat /; */
  color: white;
  border-radius: 20px;
  width: 486px;
  height: 280px;
  padding: 40px 40px 35px 33px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.article-a {
  background: linear-gradient(
      0deg,
      rgba(18, 19, 20, 0.1),
      rgba(18, 19, 20, 0.1)
    ),
    url(img.svg) no-repeat 0 center / cover;
  margin-bottom: 20px;
}
.article-b {
  background: linear-gradient(
      0deg,
      rgba(18, 19, 20, 0.1),
      rgba(18, 19, 20, 0.1)
    ),
    url(img2.svg) no-repeat 0 center / cover;
}

article h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  color: #ffffff;
}
article a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  align-self: flex-end;
}
article a::after {
  content: '>';
  margin-left: 10px;
  font-size: 22px;
  vertical-align: top;
}

@media (max-width: 768px) {
  body {
    padding: 100px 30px;
  }
  .container {
    flex-direction: column;
    gap: 60px;
  }
  section {
    display: flex;
    gap: 20px;
  }
  article {
    width: 344px;
    height: 198px;
    font-size: 24px;
  }
}

@media (max-width: 390px) {
  body {
    padding: 100px 18px;
  }
  .container {
    flex-direction: column;
  }
  article {
    width: 344px;
    height: 198px;
  }
}
