.info {
  width: 350px;
  height: 350px;
  border: 4px solid darkorange;
  border-radius: 20px;
  margin: 0 auto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
