.list-area {
  padding: 0;
  list-style: none;
}

.list-area-item {
  color: blueviolet;
  border: 1px solid salmon;
  padding: 5px 20px;
}

/* 첫번째 리스트빼고 선택 (형제선택자) */
.list-area-item + .list-area-item {
  border-top: none;
}

.list-area-item.active {
  background-color: salmon;
  color: aliceblue;
}
