/* reset */
body,
div,
h1,
h2,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

body {
  width: 100%;
  /* max-width: 1920px; */
  min-height: 100vh;
}

.container {
  background-color: #eae8fe;
  width: 100%;
  /* min-width: calc(100% - 40px); */
  padding-bottom: 171px;
}

.logo {
  width: 360px;
  margin: 0 auto 68px auto;
}

.logo img {
  width: 100%;
}

.wrapper {
  display: flex;
  gap: 28px;
  justify-content: center;
}

section {
  width: 360px;
  background-color: #fff;
  box-shadow: inset 0 0 10px red;
}

.page1 {
  height: 545px;
}
.page2 {
  height: 50px;
}

.page3 {
  height: 479px;
  margin-top: 16px;
}

@media (max-width: 760px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .page3 {
    margin-top: 0;
  }
}

/* style */
.page1 {
  padding: 31px 27px 28px 27px;
  box-sizing: border-box;
}
.page1 .drink-list {
  width: 306px;
  height: 272px;
  box-shadow: inset 0 0 10px green;
}
.page1 .order-list {
  margin-top: 20px;
  height: 194px;
  width: 306px;
  box-shadow: inset 0 0 10px green;
}

.page2 {
  padding: 9px 27px;
  box-sizing: border-box;
}
.page2 .my-money {
  width: 306px;
  height: 32px;
  box-shadow: inset 0 0 10px green;
}

.page3 {
  box-sizing: border-box;
  padding: 28px 27px;
}
.page3 .buy-list {
  width: 306px;
  /* 20 13 6 20 475 */
  height: 100%;
  box-shadow: inset 0 0 10px green;
}

.drink-list .drink-list-card {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.cola {
  width: 94px;
  height: 130px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  padding: 11px 12px 9px 12px;
  box-sizing: border-box;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}

.check {
  box-shadow: 0 0 0 3px #6327fe;
}

.sold-out {
  position: relative;
}
.sold-out::after {
  content: '';
  display: inline-block;
  background: url(images/sold-out.svg) no-repeat 0 center / contain;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.cola img {
  width: 36px;
}
.cola p {
  font-weight: 500;
  font-size: 9px;
  color: #333333;
}
.cola button {
  border: none;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  width: 70px;
  height: 22px;
  background: #6327fe;
  border-radius: 22px;
  line-height: 100%;
}
