body,
div,
p,
span,
ol,
ul,
li,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

button {
  color: inherit;
  background: none;
  border: none;
  font-family: inherit;
}

* {
  /* font-family: 'Noto Sans KR', sans-serif; */
  font-family: 'Open Sans', sans-serif;
}

.container {
  box-shadow: inset 0 0 10px rosybrown;
  /* max-width: 1920px; */
}

header {
  box-shadow: inset 0 0 10px red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 26px;
}

.logo img {
  width: 130px;
  box-shadow: inset 0 0 10px gold;
}

.nav,
.nav-bar {
  display: flex;
  align-items: center;
}

.nav {
  gap: 40px;
}

.nav-bar {
  box-shadow: inset 0 0 10px blue;
  gap: 30px;
}

.nav-list a {
  font-size: 16px;
  font-weight: 400;
}

.btn-download {
  background-color: #d97652;
  width: 140px;
  border-radius: 40px;
  height: 50px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}

@media (max-width: 1400px) {
}

/* section */
.section-top {
  box-shadow: inset 0 0 10px green;
  background: #f2e9d8;
  height: 900px;
  padding: 0 320px;
}

.l-section-top {
  display: flex;
  align-items: center;
}

.section-top-title {
  font-weight: 700;
  font-size: 48px;
}

.section-top-img {
  max-width: 415px;
}

.section-middle {
  box-shadow: inset 0 0 10px green;
  padding: 0 320px;
}
.section-bottom {
  box-shadow: inset 0 0 10px green;
  padding: 0 320px;
}

/* footer */
footer {
  box-shadow: inset 0 0 10px grey;
  padding: 0 320px;
}
