body,
ul {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  text-align: center;
}

.buttons {
  list-style: none;
  /* box-shadow: inset 0 0 10px red; */
  width: 350px;
  margin: 0 auto;
}

.buttons button {
  padding: 1.2em 0;
  width: 100%;
  /*background-color: beige;
  */
  margin-bottom: 12px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-o;
}

.buttons button:hover {
  background-color: darkorange;
}
